#header {
    width: 100%;
    background-color: steelblue;
}

#topHeader {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.logoSize {
    height: 10vh;
    width: 10vw;
    margin-top: 0.5%;
}

#myCart {
    text-decoration: none;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#topHeader ul {
    float: right;
    padding: 2vh 1vw 2vh 1vw;
}

#topHeader ul li {
    list-style: none;
}