h1 {
    color: #283747;
}

#header {
    width: 100%;
    background-color: steelblue;
    top: 0;
    position: fixed;
}

#topHeader {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#logoImg {
    width: 20%;
}

.logoSize {
    height: 10vh;
    width: 10vw;
    margin-top: 0.5%;
    cursor: pointer;
}

#myCart {
    text-decoration: none;
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#topHeader ul {
    float: right;
    padding: 2vh 1vw 2vh 1vw;
}

#topHeader ul li {
    list-style: none;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
}

.show {
    visibility: visible;
}

.line {
    border-bottom: 1px solid #D7D7D7;
    margin-bottom: 1vh;
    z-index: -1;
}

.line2 {
    box-shadow: 0 10px 10px -10px #8c8b8b;
    border: 0;
    height: 4vh;
    margin-bottom: 3vh;
    z-index: -1;
}

.productBox {
    display: inline-block;
}

.productDesc {
    width: 100%;
    display: flex;
}

.imgBox {
    width: 50%;
}

.descBox {
    width: 50%;
}

#productImg {
    width: 20vw;
    height: 30vh;
}

.price {
    text-align: right;
}

.qtySection {
    height: 3vh;
    display: flex;
    justify-content: flex-end;
}

#quantity {
    margin-left: 1vw;
    margin-right: 1vw;
}

.price label {
    margin-left: 5vw;
}

#cancel {
    margin-left: 1vw;
}

#cartPage {
    width: 100%;
}

.prdPrice {
    transform: translateX(48vw);
    display: flex;
    flex-direction: column;
}

#btm {
    height: 8vh;
    width: 100%;
    background-color: rgb(34, 128, 216);
    bottom: 0;
    right: 0;
    position: fixed;
}

#boxAtc {
    width: 20%;
    float: right;
    margin-top: 2vh;
}

#boxAtc button {
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}