
<div id="header">
  <div id="topHeader">
    <img class="logoSize" src="{{ logoImg }}" (click)="displayList()">
    <ul>
        <li><button id="myCart" (click)="displayCart()">My Cart</button></li>
    </ul>
  </div>
</div>

<div class="container">
  <h1>Welcome to Dell ~~</h1>
  <h2 [hidden]="!showProduct">{{ pdPagetitle }}</h2>
  <h2 [hidden]="!showCart">{{ cartPagetitle }}</h2>
  <div class="line"></div>
    
      <div class="productBox" *ngFor="let allProduct of allProducts; let i = index" [hidden]="!showProduct" 
      [style.background-color]="selectedColor(allProduct.id)">
        <div class="details">
          <div class="productDesc">
            <div class="imgBox">
              <img id="productImg" src="{{ allProduct.image }}">
            </div>
            <div class="descBox">
              <p>Item Id : {{ allProduct.id }}</p>
              <label>Description : </label>
              <p>{{ allProduct.description }}</p>
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="qtySection">
          <div>
              <button (click)="checkprdId(allProduct.id)" [hidden]="!hideSelect">Select</button>
          </div>
          <div class="quantity" *ngIf="allProduct.selected == true">
            <button class="btnQty" (click)="minusQuantity(allProduct.id)">-</button>
            <label id="quantity">Quantity : {{ allProduct.currentQty }}</label>
            <button class="btnQty" (click)="addQuantity(allProduct.id)">+</button>
          </div>
          <div id="cancel">
            <button (click)="cancelSelect(allProduct.id)" *ngIf="allProduct.selected == true">Cancel</button>
          </div>
          <div class="price">
            <label>Price : RM {{ allProduct.price }}</label>
          </div>
        </div>
        <div class="line2"></div>

        <div id="btm" *ngIf="allProduct.selected == true">
          <div id="boxAtc">
              <button (click)="addToCart(allProduct.id)">Add to Cart</button>
          </div>
        </div>
      </div>

  <div id="cartPage" [hidden]="!showCart" *ngFor="let allCart of allCarts">
    <div>
      {{ allCart.id }}
      <div class="imgBox">
        <img id="productImg" src="{{ allCart.image }}">
      </div>
      {{ allCart.description }}
      {{ allCart.price }}
      {{ allCart.currentQty }}
    </div>
  </div>
</div>